.banner {
	background-image: url(city.jpeg);
	color: #FDE6B5;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 70px;
	font-weight: bold;
}

.banner h2 {
	font-size: 30px;
	opacity: 0.8;
	margin-bottom: 40px;
}